table{

    
    margin-top: 50px;
    background-color: rgb(167, 170, 209);
    text-align: left;
    border-collapse:collapse ;
    width: 100%;

}


.div-centered{
    margin-right: 550px;
    margin-left :50px;
    
}

th,td{
    padding: 15px;

}


thead{
    background-color: rgb(127, 176, 255);
    border-bottom: solid 5px rgba(86, 101, 218, 0.4);
}